<div class="private-chat-window" data-uid="{{relation_id}}" data-id="{{id_user}}" data-nickname="{{nickname}}"  data-phone="{{phone}}"  data-email="{{email}}">
	<div class="header-chat">
		<div class="user-profile"><img src="{{imageUrl}}" /></div>
		<div class="info-user-chat">
			<div class="nickname" data-nickname="{{nickname}}">{{nickname}}</div>
			<div class="phone" data-phone="{{phone}}">{{phone}}</div>
			<div class="email" data-email="{{email}}">{{email}}</div>
		</div>
		<div class="action-window">
			<div class="icon-action icon-cancel-circled"></div>
		</div>
	</div>
	<div class="chat-private">
		<div id="chat-container-private"></div>
	</div>
	<div class="communication-area">
		<textarea id="messagechat" class="input-text" placeholder="Enter your message"></textarea>
		<div id="send-message" class="button icon-paper-plane-empty icon-action"></div>
		<div id="send-url" class="icon-attach-1 icon-action button secondary"></div>
		<div id="send-photo" class="icon-camera icon-action button secondary"></div>
		<div class="clear"></div>
	</div>
</div>