#active-chat-windows {
	&.active {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/cssimages/chat-bg.png') repeat;
	}
	.private-chat-window {
		height: auto;
		width: 80%;
		margin: 0 auto;
		background-color: white;
		margin-top: 5%;
		box-shadow: 0px 3px 9px #333;
		.header-chat {
			height: 90px;
			border-bottom: solid 1px #ddd;
			padding: 20px;
			background-color: #008cba;
			.user-profile {
				float: left;
				width: 50px;
				margin-right: 20px;
				display: inline-block;
				img {
					width: 100%;
					border-radius: 50px;
				}
			}
			.info-user-chat {
				float: left;
				width: auto;
				max-width: 1000px;
				display: inline-block;
				.nickname, .phone, .email {
					display: block;
					font-weight: 100;
				}
			}
			.action-window {
				float: right;
				.icon-action {
					float: left;
					cursor: pointer;
					&.icon-minimize {
						border-bottom: solid 8px #000;
						width: 35px;
						margin-top: 16px;
					}
					&.icon-cancel-circled {
						font-size: 2.5em;
					}
				}
			}
		}
		.chat-private {
			#chat-container-private {
				height: 400px;
				margin: 10px 10px;
				border-bottom: solid 1px #ccc;
				min-height: 400px;
				overflow-y: scroll;
				.private-message {
					display: block;
					font-weight: 100;
					line-height: 20px;
					.user-container {
						display: inline-block;
						.user {
							font-weight: 500;
							&.isme {
								font-weight: 900;
							}
							&.notme {
								font-weight: 500;
							}
						}
					}
					.message-private {
						display: inline-block;
						font-weight: 100;
						.image-container {
							width: 170px;
							height: 150px;
							display: inline-block;
							img {
								width: 150px;
							}
							.close-img {
								font-size: 20px;
								color: black;
								width: 20px;
								position: relative;
								display: inline-block;
								float: right;
								left: -20px;
								padding-left: 4px;
								height: 20px;
								cursor: pointer;
								&:hover {
									background-color: black;
									border-radius: 30px;
									color: white;
									opacity: 0.7;
									line-height: 19px;
									padding-left: 5px;
								}
							}
						}
					}
				}
				
			}
		}
		.communication-area {
			padding: 2%;
			textarea#messagechat {
				width: 72%;
				height: 50px;
				resize: none;
				margin: 0;
				display: inline-block;
			}
			.icon-action {
				width: 8%;
				display: inline-block;
				margin: 0;
				max-width: 50px;
				padding: 0;
				line-height: 50px;
				top: 0;
				height: 50px;
				overflow: hidden;
			}
		}
	}
}