<div id="chat-view" class="panel">
	<div id="private-container" class="large-2 columns">
		<div class="collapse">
			<h3>Private chats</h3>
			<div id="chat-windows"></div>
		</div>
	</div>
	<div id="comments-container" class="comments-container large-10 columns">
		<a id="nav-toggle" href="#">
			<span></span>
		</a>
		<div class="collapse">
			<div id="chat-container"></div>
		</div>
		<div class="collapse postfix-radius actions-container">
				<textarea id="message" class="input-text" placeholder="Enter your message"></textarea>
				<div id="send-message" class="button icon-paper-plane-empty icon-action"></div>
				<div id="send-url" class="icon-attach-1 icon-action button secondary"></div>
				<div id="send-photo" class="icon-camera icon-action button secondary"></div>
				<div class="clear"></div>
		</div>
	</div>
	<div id="users-container" class="users-container large-2 columns">
		<div class="collapse">
			<h3>Online Users</h3>
			<div id="chat-users"></div>
		</div>
  	</div>
  	<div id="active-chat-windows" class="large-12 columns"></div>
</div>