<div id="register" class="row panel">
	<h1>Registro</h1>
	<div class="register-container large-12 large-centered columns">
		<div class="row collapse">
			<div class="small-12 large-12 columns">
				<form method="post", enctype="multipart/form-data">
					<div class="user-profile-text">Puedes agregar tu foto</div>
					<div class="image-profile-container">
						<label for="image-receiver">
							<input type="file" id="image-receiver" name="image-receiver"/>
							<img src="user_images/default-user.jpeg" class="image-profile">
						</label>
					</div>
				</form>
			</div>
		<div class="row collapse">
			<div class="small-3 large-2 columns">
				<span class="prefix input-title">Usuario</span>
			</div>
			<div class="small-9 large-10 columns">
				<input type="text" id="user" class="input-text" placeholder="Nombre de usuario">
			</div>
		</div>
		<div class="row collapse">
			<div class="large-6 small-12 columns">
				<div class="row collapse">
					<div class="small-3 large-4 columns">
						<span class="prefix input-title">Clave</span>
					</div>
					<div class="small-9 large-8 columns">
						<input type="password" id="pass" class="input-text" placeholder="Escribe tu clave">
					</div>
				</div>
			</div>
			<div class="large-6 small-12 columns">
				<div class="row collapse">
					<div class="small-3 large-4 columns">
						<span class="prefix input-title">Confirma clave</span>
					</div>
					<div class="small-9 large-8 columns">
						<input type="password" id="passconfirma" class="input-text" placeholder="Confirma tu clave">
					</div>
				</div>
			</div>
		</div>
		<div class="row collapse">
			<div class="small-3 large-2 columns">
				<span class="prefix input-title">Nick</span>
			</div>
			<div class="small-9 large-10 columns">
				<input type="text" id="nickname" class="input-text" placeholder="Nickname (Este nombre aparecera en el chat)">
			</div>
		</div>
	
		<div class="row collapse">
			<div class="large-6 small-12 columns">
				<div class="row collapse">
					<div class="small-3 large-4 columns">
						<span class="prefix input-title">Correo</span>
					</div>
					<div class="small-9 large-8 columns">
						<input type="text" id="correo" class="input-text" placeholder="Escribe tu correo">
					</div>
				</div>
			</div>
			<div class="large-6 small-12 columns">
				<div class="row collapse">
					<div class="small-3 large-4 columns">
						<span class="prefix input-title">Telefono</span>
					</div>
					<div class="small-9 large-8 columns">
						<input type="text" id="telefono" class="input-text" placeholder="Escribe tu telefono">
					</div>
				</div>
			</div>
		</div>
	
		<div class="row collapse">
			<div class="large-12 columns">
				<div class="error-message"></div>
			</div>
		</div>

		<div class="row collapse">
			<div class="small-12 large-12 large-centered columns boton-container">
				<button id="register-submit" class="button radius">Registrar</button>
			</div>
		</div>

		<div class="row collapse">
			<div class="small-12 large-6 columns large-centered small-centered acceder-link">
				<a href="/">Acceder</a>
			</div>
		</div>

	</div>
</div>