<!DOCTYPE html>
<html>
<head>
	<title>Chat interno</title>
	<link rel="stylesheet" type="text/css" href="foundation/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="vendors/fontello/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="confirmation" class="row panel">
	<h1>Confirmaci&oacute;n de registro</h1>
	<div class="login-container large-12 large-centered columns">
		<div class="row collapse">
			<div class="confirmation-container large-12 large-centered columns">
				<a href="#" id="navigate-chat">Pantalla de acceso.</a>
			</div>
		</div>
	</div>
</div>
</body></html>