body,html {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	&.chat-active {
		background-color: #f2f2f2;
		overflow: hidden;
	}
}
#chat-view {
	margin-top: 0px;
	padding-top: 0px;
	height: 100%;
	#users-container {
		height: 100%;
		h3 {
			text-align: center;
			border-bottom: 1px solid #ccc;
			padding-bottom: 10px;
		}
		#chat-users {
			font-weight: 100;
			margin-bottom: 5px;
			.user {
				cursor: pointer;
				border-bottom: 1px dotted #ccc;
				margin-left: 10px;
				margin-right: 10px;
				box-sizing: border-box;
				padding-bottom: 5px;
				padding-top: 5px;
				&:hover {
					background-color: #ddd;
				}
				&.me-class {
					font-weight: 900;
				}
				.user-info-container {
					padding-left: 10px;
					padding-right: 10px;
					min-height: 50px;
					line-height: 50px;
					.user-profile {
						max-width: 50px;
						width: 50px;
						border-radius: 50px;
						display: inline-block;
						img {
							width: 100%;
							border-radius: 50px;
						}
					}
					.nickname {
						display: inline-block;
					}
				}
			}
		}
	}
	
	#comments-container {
		transition: all 200ms ease-in-out;
		height: 100%;
		#nav-toggle {
			cursor: pointer;
			padding: 17px 41px 22px 5px;
			display: inline-block;
			span {
				cursor: pointer;
				border-radius: 1px;
				height: 5px;
				width: 35px;
				background: black;
				position: absolute;
				display: block;
				content: "";
				transition: all 500ms ease-in-out;
				&:before {
					cursor: pointer;
					border-radius: 1px;
					height: 5px;
					width: 35px;
					background: black;
					position: absolute;
					display: block;
					content: "";
					transition: all 500ms ease-in-out;
					top: -10px;
				}
				&:after {
					cursor: pointer;
					border-radius: 1px;
					height: 5px;
					width: 35px;
					background: black;
					position: absolute;
					display: block;
					content: "";
					transition: all 500ms ease-in-out;
					bottom: -10px;
				}
			}
			&.active {
				span {
		  			background-color: transparent;
		  			&:before {
		  				top: 0;
		  				transform: rotate(45deg);
		  			}
		  			&:after {
		  				bottom: 0;
		  				transform: rotate(-45deg);
		  			}
		  		}
			}
		}
		> .collapse {
			height: 80%;
		}
		#chat-container {
			width: 100%;
			height: 100%;
			overflow-y: scroll;
			border:1px solid #ccc;
			background: white;
			padding: 10px;
			.user-message-normal {
				.user-container {
					max-width: 320px;
					display: inline-block;
					float: left;
					overflow: hidden;
					margin-right: 10px;
					.user {
						width: auto;
						display: inline-block;
						float: left;
						margin-right: 10px;
						max-width: 320px;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				.message {
					line-height: 20px;
					.image-container {
						width: 170px;
						height: 150px;
						display: inline-block;
						img {
							width: 150px;
						}
						.close-img {
							font-size: 20px;
							color: black;
							width: 20px;
							position: relative;
							display: inline-block;
							float: right;
							left: -20px;
							padding-left: 4px;
							height: 20px;
							cursor: pointer;
							&:hover {
								background-color: black;
								border-radius: 30px;
								color: white;
								opacity: 0.7;
								line-height: 19px;
								padding-left: 5px;
							}
						}
					}
				}
			}
			.user-message-error {
				color: #F00;
				.icon-attention-alt-1 {
					display: inline-block;
					font-size: 12px;
				}
			}
		}
		.actions-container {
			margin-top: 20px;
			textarea {
				&.input-text {
					height: 60px;
					max-height: 60px;
					font-size: 15px;
					font-weight: 100;
					resize: none;
					border: 0;
					width: 85%;
					box-sizing: border-box;
					padding-right: 60px;
					display: inline-block;
					float: left;
					&.error {
						border: solid 2px #f00;
					}
				}
			}
			#send-message {
				height: 60px;
				max-height: 60px;
				margin-top: 0;
				position: relative;
				margin-left: -3px;
				border-radius: 0;
				line-height: 60px;
				display: inline-block;
			}
			.icon-action {
				width: 5%;
				display: inline-block;
				float: left;
				text-align: center;
				height: 60px;
				max-height: 60PX;
				line-height: 60px;
				border: solid 1px #ccc;
				padding: 0;
				box-sizing: border-box;
				cursor: pointer;
				&:hover {

				}
			}
			.clear {
				clear: both;
			}
		}
	}
}
#chat-app {
	height: 100%;
	background-color: #f2f2f2;
}

#login, #confirmation {
	border-bottom-width: 0;
	h1 {
		margin: 0 auto;
		text-align: center;
		margin-top: 40%;
		margin-bottom: 30px;
		font-size: 5em;
		font-weight: 900;
	}
	.login-container {
		.input-title {
			font-size: 3.5em;
			height: 100px;
			line-height: 100px;
			text-transform: capitalize;
			letter-spacing: 2px;
			&:first-letter {
				font-weight: 900;
			}
		}
		.input-text {
			height: 100px;
			font-size: 3em;
			font-weight: 100;
			&.error {
				border: solid 1px #f00;
				margin: 0 0 1rem 0
			}
		}
		.boton-container {
			text-align: center;
			#login-submit {
				width: 100%;
				height: 100px;
				margin-top: 25px;
				font-size: 3em;
			}
		}
		.confirmation-container {
			text-align: center;
		}
		.register-link {
			font-size: 2.5em;
			margin-top: 49px;
			text-align: center;
		}
	}
}

@media screen and (min-width: 1000px) {
	#chat-app {
		background-color: #ffffff; 
	}
	#login, #confirmation {
		margin-top: 10%;
		margin-bottom: 0;
	  	padding: 0 5% 5% 5%;
	  	box-sizing: border-box;
	  	h1 {
			font-weight: 900;
			text-align: center;
			letter-spacing: 6px;
			padding-top: 60px;
			margin-top: 0;
			font-size: 2.2em;
		}
		.login-container {
			padding: 60px 0 0;
			margin-top: 40px;
			.input-title {
				height: 70px;
				line-height: 70px;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 1em;
				&:first-letter {
					font-weight: 900;
				}
			}
			.input-text {
				height: 70px;
				font-size: 25px;
				font-weight: 100;
				&.error {
					border: solid 1px #f00;
					margin: 0 0 1rem 0
				}
			}
			.boton-container {
				text-align: center;
				#login-submit {
					width: 100%;
					height: 70px;
					margin-top: 25px;
					font-size: 1em;
				}
			}
			.confirmation-container {
				text-align: center;
			}
			.register-link {
				font-size: 1em;
				margin-top: 0px;
				text-align: left;
			}
		}
		.error-message-container {
			margin-top: 120px;
			.error-message {
				color: #f00;
				min-height: 20px;
				max-height: 20px;
				margin-top: 20px;
				font-weight: 100;
				font-size: 20px;
				.error-ico, .info-ico {
					width: 30px;
					display: inline-block;
				}
				.info {
					color: #008cba;
				}
			}
		}
	}
}
#active-chat-windows {
	&.active {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/cssimages/chat-bg.png') repeat;
	}
	.private-chat-window {
		height: auto;
		width: 55%;
		margin: 0 auto;
		background-color: white;
		margin-top: 5%;
		box-shadow: 0px 3px 9px #333;
		.header-chat {
			height: 90px;
			border-bottom: solid 1px #ddd;
			padding: 20px;
			background-color: #008cba;
			.user-profile {
				float: left;
				width: 50px;
				margin-right: 20px;
				display: inline-block;
				img {
					width: 100%;
					border-radius: 50px;
				}
			}
			.info-user-chat {
				float: left;
				width: auto;
				max-width: 1000px;
				display: inline-block;
				.nickname, .phone, .email {
					display: block;
					font-weight: 100;
				}
			}
			.action-window {
				float: right;
				.icon-action {
					float: left;
					cursor: pointer;
					&.icon-minimize {
						border-bottom: solid 8px #000;
						width: 35px;
						margin-top: 16px;
					}
					&.icon-cancel-circled {
						font-size: 2.5em;
					}
				}
			}
		}
		.chat-private {
			#chat-container-private {
				height: 400px;
				margin: 10px 10px;
				border-bottom: solid 1px #ccc;
				min-height: 400px;
				overflow-y: scroll;
				.private-message {
					display: block;
					font-weight: 100;
					line-height: 20px;
					.user-container {
						display: inline-block;
						.user {
							font-weight: 500;
							&.isme {
								font-weight: 900;
							}
							&.notme {
								font-weight: 500;
							}
						}
					}
					.message-private {
						display: inline-block;
						font-weight: 100;
						.image-container {
							width: 170px;
							height: 150px;
							display: inline-block;
							img {
								width: 150px;
							}
							.close-img {
								font-size: 20px;
								color: black;
								width: 20px;
								position: relative;
								display: inline-block;
								float: right;
								left: -20px;
								padding-left: 4px;
								height: 20px;
								cursor: pointer;
								&:hover {
									background-color: black;
									border-radius: 30px;
									color: white;
									opacity: 0.7;
									line-height: 19px;
									padding-left: 5px;
								}
							}
						}
					}
				}
				
			}
		}
		.communication-area {
			padding: 2%;
			textarea#messagechat {
				width: 80%;
				height: 50px;
				resize: none;
				margin: 0;
				display: inline-block;
			}
			.icon-action {
				width: 5%;
				display: inline-block;
				margin: 0;
				max-width: 50px;
				padding: 0;
				line-height: 50px;
				top: 0;
				height: 50px;
				overflow: hidden;
			}
		}
	}
}
#register {
	margin-top: 0;
  	padding: 0 5% 10% 5%;
  	box-sizing: border-box;
  	border: 0;
  	h1 {
		font-weight: 900;
		text-align: center;
		letter-spacing: 6px;
		font-size: 5em;
		padding: 60px 50px 15px 50px;
		border-bottom: solid 1px #222;
  		margin:0px 100px 0 100px;
	}
	.row {
		&.collapse {
			margin-bottom: 20px;
		}
	}
	.register-container {
		.user-profile-text {
			text-align: center;
			height: 30px;
			line-height: 30px;
			text-transform: uppercase;
			letter-spacing: 2px;
			&:first-letter {
				font-weight: 900;
			}
		}
		.image-profile-container {
			text-align: center;
			margin: 0 auto;
			height: 200px;
			min-height: 200px;
			max-height: 200px;
			cursor: pointer;
			.image-profile {
				width: 150px;
				height: 150px;
				border-radius: 150px;
				-webkit-transition: all 200ms;
    			transition: all 200ms;
    			position: absolute;
    			z-index: 1;
    			margin-left: -50px;
				&:hover {
					border-radius: 150px;
					transition: all 200ms;
					-webkit-transform: scale(1.2);
					transform: scale(1.2);
					transform-origin: 50% 50%;
					-webkit-transition: all 200ms;
				}
			}
			#image-receiver {
				display: none;
			}
		}
		padding: 30px 0 0;
		> .collapse {
			margin-bottom: 20px;
		}
		.input-title {
			height: 100px;
			line-height: 100px;
			text-transform: capitalize;
			letter-spacing: 2px;
			font-size: 2.5em;
			text-align: right;
			padding-right: 20px;
			&:first-letter {
				font-weight: 900;
			}
		}
		.input-text {
			height: 100px;
			font-size: 2em;
			font-weight: 100;
			display: block;
			margin: 0;
			box-sizing: border-box;
			&.error {
				border: solid 1px #f00;
			}
		}
		.error-message {
			color: #f00;
			min-height: 20px;
			max-height: 20px;
			margin-top: 20px;
			font-weight: 100;
			font-size: 20px;
			.error-ico, .info-ico {
				width: 30px;
				display: inline-block;
			}
			.info {
				color: #008cba;
			}
		}
		.boton-container {
			text-center: center;
			#register-submit {
				width: 100%;
				height: 100px;
				margin-top: 25px;
				font-size: 3em;
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	#register {
		margin-top: 0;
	  	padding: 0 5% 10% 5%;
	  	box-sizing: border-box;
	  	h1 {
			font-weight: 900;
			text-align: center;
			letter-spacing: 6px;
			padding: 60px 50px 15px 50px;
			border-bottom: solid 1px #222;
	  		margin:0px 100px 0 100px;
		}
		.row {
			&.collapse {
				margin-bottom: 20px;
			}
		}
		.register-container {
			.user-profile-text {
				text-align: center;
				height: 30px;
				line-height: 30px;
				text-transform: uppercase;
				letter-spacing: 2px;
				&:first-letter {
					font-weight: 900;
				}
			}
			.image-profile-container {
				text-align: center;
				margin: 0 auto;
				height: 140px;
				min-height: 140px;
				max-height: 140px;
				cursor: pointer;
				.image-profile {
					width: 100px;
					height: 100px;
					border-radius: 100px;
					-webkit-transition: all 200ms;
	    			transition: all 200ms;
	    			position: absolute;
	    			z-index: 1;
	    			margin-left: -50px;
					&:hover {
						border-radius: 140px;
						transition: all 200ms;
						-webkit-transform: scale(1.2);
						transform: scale(1.2);
						transform-origin: 50% 50%;
						-webkit-transition: all 200ms;
					}
				}
				#image-receiver {
					display: none;
				}
			}
			padding: 30px 0 0;
			> .collapse {
				margin-bottom: 20px;
			}
			.input-title {
				height: 70px;
				line-height: 70px;
				text-transform: uppercase;
				letter-spacing: 2px;
				&:first-letter {
					font-weight: 900;
				}
			}
			.input-text {
				height: 70px;
				font-size: 20px;
				font-weight: 100;
				display: block;
				margin: 0;
				box-sizing: border-box;
				&.error {
					border: solid 1px #f00;
				}
			}
			.error-message {
				color: #f00;
				min-height: 20px;
				max-height: 20px;
				margin-top: 20px;
				font-weight: 100;
				font-size: 20px;
				.error-ico, .info-ico {
					width: 30px;
					display: inline-block;
				}
				.info {
					color: #008cba;
				}
			}
			.boton-container {
				text-center: center;
				#register-submit {
					width: 100%;
					height: 70px;
					margin-top: 25px;
					font-size: 1em;
				}
			}
		}
	}
}
#user-bar {
	margin-left: -1000px;
	position: relative;
	z-index: 4;
	float: left;
	transition: all 200ms ease;
	background-color: #008cba;
	&.open {
		margin-left: 0;
		position: relative;
		left: 0;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		transition: all 200ms ease;
	}
	&.animate {
		margin-left: -100px;
		transition: all 200ms ease;
	}
	h3 {
		color: #fff;
		padding-top: 2px;
		border-bottom: 1px solid #333;
		text-align: center;
		padding-bottom: 10px;
	}
	#bar {
		.user {
			height: 50px;
			border-bottom: solid 1px #ccc;
			cursor: pointer;
			padding-left: 10px;
			.user-container {
				height: 100%;
				.user-profile {
					height: 50px;
					width: 40px;
					display: inline-block;
					margin-right: 10px;
					line-height: 35px;
					padding: 5px;
					img {
						border-radius: 40px;
						width: 100%;
					}
				}
				.user-nickname {
					font-weight: 100;
					font-size: 1.2em;
					display: inline-block;
					color: #fff;
				}
			}
			&.active {
				box-shadow: inset 1px 0px 2px #000;
				border: 0;
			}
			&.animate {
				margin-left: -100px;
				transition: all 200ms ease;
				position: relative;
			}
			&:hover {
				background-color: #b7b7b7;
				.user-container {
					.user-nickname {
						font-weight: 500;
						color: #333;
					}
				}
			}
		}

	}
}